.input {
  border: 1px solid var(--color-border);
  border-radius: var(--size-6);
  transition: all ease 200ms;
  input {
    border: none;
    padding: var(--size-6);
    width: 100%;
    outline: none;
    &::placeholder{
      color: var(--color-black-50)
    }
  }
  &:focus-within{
    border: 1px solid var(--color-blue);
  }
  &.error{
    border: 1px solid var(--color-red);
  }
}
