.task {
  background-color: rgba(0, 0, 0, 0.04);
  border-radius: var(--size-8);
  overflow: hidden;
  .decorator {
    height: 100%;
    width: 4px;
    background-color: var(--color-blue);
    transition: all ease 200ms;
  }
  h3 {
    max-width: 350px;
    width: fit-content;
  }
  &.pending {
    .decorator {
      background-color: var(--color-orange);
    }
  }
  &.done {
    .decorator {
      background-color: var(--color-black-25);
    }
    h3 {
      color: var(--color-black-25);
      text-decoration: line-through;
    }
  }
  .header {
    display: grid;
    grid-template-columns: max-content max-content auto;
    max-width: 100%;
    gap: var(--size-8);
    align-items: center;
  }
  .actions {
    display: grid;
    grid-template-columns: auto max-content;
  }
}
.modal {
  position: relative;
  max-width: var(--media-mobile);
  .close {
    position: absolute;
    top: 10px;
    right: 10px;
  }
}
