.button{
  color: var(--color-white);
  font-weight: 500;
  background-color: var(--color-blue);
  border: none;
  border-radius: var(--size-6);
  cursor: pointer;
  &.secondary{
    background-color: var(--color-blue-25);
    color: var(--color-blue);
  }
}