h1,
h2,
h3,
h4,
h5,
h6,
p,
label,
span,
strong {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong,
.text-bold {
  font-weight: 500;
}

a{
  text-decoration: none;
  color: var(--color-blue);
}

.text-center {
  text-align: center;
}
.text-tiny {
  font-size: var(--size-10);
}
.text-small {
  font-size: var(--size-12);
}
.text-green {
  color: var(--color-green);
}
.text-blue {
  color: var(--color-blue);
}
.text-gray {
  color: var(--color-black-50);
}
.text-end{
  text-align: end;
}

